@page "/"
@inject HttpClient HttpClient
@inject IDialogService DialogService

<PageTitle>Blazing Pizzas</PageTitle>

@*Pizzas main container*@
<MudContainer MaxWidth="MaxWidth.Large" Class="my-4">
    @if (specials == null)
    {
        <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
    }
    else
    {
        <MudGrid>
            @foreach (var special in specials)
            {
                <MudItem sm="12" md="6" lg="4">
                    <MudCard Elevation="25" Style="height: 100%"
                     @onclick="@(()=>OpenConfigurePizzaDialog(special))">

                        <MudCardMedia Image="@special.ImageUrl" Height="200" />

                        <MudCardContent>
                            <MudText Typo="Typo.h5">@special.Name</MudText>
                            <MudText Typo="Typo.body2">@special.Description</MudText>
                            <MudText Typo="Typo.h5">$ @special.GetFormattedBasePrice()</MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    }
</MudContainer>

@*Order Sidebar*@
<MudDrawer @bind-Open="@drawerOpen" Elevation="1" Anchor="Anchor.Right" Color="Color.Dark"
           ClipMode="DrawerClipMode.Always" Variant="@DrawerVariant.Persistent"
           Class="d-flex flex-column" Width="300px">
    
    @if (order.Pizzas.Any())
    {
        <div class="flex-grow-1">
            <MudDrawerHeader Class="px-2">
                <MudText Typo="Typo.h6">Your Order</MudText>
            </MudDrawerHeader>
            @foreach (var pizza in order.Pizzas)
            {
                <MudPaper Class="ma-2 pa-2" Style="@($"color: {Colors.Grey.Lighten4}; background-color: #505050;")">
                    <div class="d-flex flex-row align-center">
                        <MudText>@pizza.Size" @pizza.Special.Name</MudText>
                        <MudSpacer />
                        <MudIconButton Icon="@Icons.Material.Filled.Close" Style="@($"color: {Colors.Grey.Lighten4};")"></MudIconButton>
                    </div>
                    @foreach (var topping in pizza.Toppings)
                    {
                        <MudText Class="ml-3">+ @topping.Topping.Name</MudText>
                    }
                    <MudText Typo="Typo.h6"><b>$ @pizza.GetFormattedTotalPrice()</b></MudText>
                </MudPaper>
            }
        </div>
        <MudPaper Class="flex-shrink-0 d-flex flex-row justify-space-between align-center px-2"
              Style="@($"color:{Colors.Grey.Lighten4}; background:{Colors.Red.Darken3};")"
              Elevation="0" Square="true" Height="4rem">
            <MudText Class="align-center" Typo="Typo.h5">
                Total: <b>$ @order.GetFormattedTotalPrice()</b>
            </MudText>
            <MudChip Variant="Variant.Filled" Color="Color.Warning" Size="Size.Large" 
                 Style="@($"color:{Colors.Grey.Darken4};")" Icon="@Icons.Material.Filled.ShoppingCartCheckout">
                <MudText Typo="Typo.h5">
                    Order
                </MudText>
            </MudChip>
        </MudPaper>
    }
    else
    {
        <div class="ma-auto">
            <MudText Style="@($"color: {Colors.Grey.Lighten4}; text-align: center")" Typo="Typo.h5">
                Choose a pizza<br>to get started
            </MudText>
        </div>
    }
</MudDrawer>


@code {
    List<PizzaSpecial> specials;
    Pizza configuringPizza;
    Order order = new Order();
    bool drawerOpen = true;

    protected override async Task OnInitializedAsync()
    {
        specials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>("api/specials");
    }

    private async Task OpenConfigurePizzaDialog(PizzaSpecial special)
    {
        configuringPizza = new Pizza
            {
                SpecialId = special.Id,
                Special = special
            };
        var parameters = new DialogParameters();
        parameters.Add("Pizza", configuringPizza);

        var options = new DialogOptions()
            {
                MaxWidth = MaxWidth.Small,
                FullWidth = true,
                Position = DialogPosition.TopCenter
            };

        var result = await DialogService.Show<ConfigurePizzaDialog>(special.Name, parameters, options).Result;
        if (result.Cancelled)
        {
            configuringPizza = null;
        }
        else
        {
            SubmitOrder();
        }
    }
    private void SubmitOrder()
    {
        order.Pizzas.Add(configuringPizza);
        configuringPizza = null;
        Console.WriteLine(order.Pizzas.Count);
    }

}